body {
  background: #fff;
  color: #000;
  text-rendering: geometricPrecision;
}

$top-bar-height: 53px;

:root {
  --sidebar: 40vw;
}

.top-bar {
  height: $top-bar-height;
  border-bottom: 1px solid #dbdbda;
  align-items: center;
  align-self: center;
}

.content {
  position: absolute;
  top: 0;
  left: var(--sidebar);
  bottom: 0;
  right: 0;
  overflow: hidden;
  margin: 0;
  height: 100%;
  background: #fff;
  border-left: 1px solid #dbdbda;

  .content-bar {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    @extend .top-bar;
  }

  .scroll {
    position: absolute;
    top: $top-bar-height;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;

    .markdown-body {
      margin: 104px 65px;
    }
  }
}

.tools {
  position: absolute;
  top: 0px;
  left: 0;
  width: var(--sidebar);
  @extend .top-bar;
}

.editor {
  position: absolute;
  top: $top-bar-height;
  left: 0;
  bottom: 0;
  width: var(--sidebar);
}

.fullscreen {
  .tools,
  .editor {
    display: none;
  }
  .content {
    left: 0;
    border-left: 0;
  }
}

svg > g[transform="translate(0.000000,17.000000) scale(0.100000,-0.100000)"] {
  display: none;
}

section {
  margin-bottom: 65px;
}

#loading-placeholder {
  width: 100vw;
  height: 100vh;
  background: #fff;
}

#loading-placeholder span {
  position: relative;
  font-size: 16px;
  color: #000;
  top: calc(50% - 16px);
  left: calc(50% - 70px);
}

.home {
  font-size: 16px;
  padding: 104px 65px;
}

.sidebar-dragger {
  width: 5px;
  cursor: ew-resize;
  padding: 4px 0 0;
  border-top: 1px solid #ddd;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10;
  background-color: #f4f7f9;
}

.sidebar-dragger:active {
  background-color: #dbdbda;
}

.user-name {
  color: #000;
}